<h1>Listing posts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>

  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.price %></td>
  </tr>
<% end %>
</table>

